[Unit]
Description=Woodaudio manager service
After=network-online.target

[Service]
ExecStart=/usr/bin/python -u /home/[[USER]]/woodaudio/manager.py
WorkingDirectory=/home/[[USER]]/woodaudio/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=[[USER]]
Nice=-15

[Install]
WantedBy=multi-user.target
